@font-face {
font-family: 'Daft Regular';
src: url('/daftregular.woff2') format('woff2'),
url('/daftregular.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}

body {
margin: 200px 30px 100px 30px;
font-family: "Helvetica Neue", Arial, sans-serif;font-size: 16px;
font-weight: normal;
line-height: 1em;
display: flex;
flex-direction: column;
align-items: center;
color: #1F1F1F;
background-color: #BDBEBE;
}

.alert {
z-index: 10;
position: fixed;
top: 120px;
left: 50%;
transform: translate(-50%, -50%);
background-color: rgba(0, 0, 0, 1);
color: rgba(255, 255, 255, 1);
padding: 12px 20px 12px 20px;
text-align: center;
border-radius: 50px;
white-space: nowrap;
}

.alert a {
color: rgba(0, 0, 0, 1);
}

hr {
border: 0;
height: 1px;
background-color: rgba(1, 1, 1, 0.05);
margin: 20px 0px 40px 0px;
}


body.modal-open {
overflow: hidden;
position: fixed;
width: 100%;
}

::selection {
background: rgba(0, 0, 0, 0.05);
}

a {
color: rgba(0, 0, 0, 1);
text-decoration: none;
}

.logo a {
font-family: "Daft Regular", "Helvetica Neue", Arial, sans-serif;
text-transform: uppercase;
font-weight: normal;
z-index: 1;
font-size: 11px;
position: fixed;
top: 20px;
left: 30px;
border: 1px solid rgba(0, 0, 0, 1);
background-color: rgba(255, 255, 255, 1);
border-radius: 50px;
padding: 8px 12px 8px 12px;
box-sizing: border-box;
display: block;
color: rgba(0, 0, 0, 1);
text-decoration: none;
}

.profile {
z-index: 1;
position: fixed;
top: 20px;
right: 30px;
height: 35px;
width: 35px;
}

.profile-image-small {
display: block;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.05);
filter: grayscale(100%);
width: 35px;
height: 35px;
object-fit: cover;
}

#modal {
display: none;
}

.modal {
z-index: 10;
position: fixed;
top: 0px;
left: 0px;
width: 100vw;
height: 100vh;
background-color: rgba(255, 255, 255, 1);
overflow-y: auto;
}

.modal-container {
margin: 100px auto 100px auto;
padding: 0px 30px 0px 30px;
box-sizing: border-box;
max-width: 460px;
width: 100%;
}

.modal-picture {
width: 100%;
margin: 0px 0px 40px 0px;
}

.modal-picture-image {
display: block;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.05);
filter: grayscale(100%);
width: 115px;
height: 115px;
object-fit: cover;
}

.modal-picture-empty {
display: block;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.05);
width: 115px;
height: 115px;
}

.modal-bio {
box-sizing: border-box;
word-wrap: break-word;
word-break: break-word;
position: relative;
display: inline-block;
}

.modal-close {
z-index: 20;
position: fixed;
top: 20px;
right: 30px;
}

.close-button {
display: block;
border-radius: 50%;
filter: grayscale(100%);
width: 35px;
height: 35px;
object-fit: cover;
}

.container {
box-sizing: border-box;
max-width: 400px;
width: 100%;
}

.item {
box-sizing: border-box;
padding: 0px 0px 80px 0px;
}

.content {
width: 100%;
box-sizing: border-box;
padding: 0px 0px 15px 0px;
line-height: 1.4em;
word-wrap: break-word;
word-break: break-word;
position: relative;
display: inline-block;
}

.content-detail {
width: 100%;
box-sizing: border-box;
padding: 0px 0px 15px 0px;
font-family: "Daft Regular", "Helvetica Neue", Arial, sans-serif;
font-size: 32px;
font-weight: normal;
line-height: 1.2em;
word-wrap: break-word;
word-break: break-word;
position: relative;
display: inline-block;
}

/* Mobile styles using a media query */
@media only screen and (max-width: 600px) {
.content-detail {
font-size: 22px;
}
}

.content img, .content-detail img {
  width: 100%;
  border-radius: 17px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  filter: grayscale(100%);
  display: block;
  height: auto;
}

.content img:hover, .content-detail img:hover {
  filter: grayscale(0%);
}

.content:hover .overlay-link-content {
opacity: 1;
}

.content-detail:hover .overlay-link-content {
opacity: 1;
}

.overlay-link-content {
font-family: "Helvetica Neue", Arial, sans-serif;
font-size: 14px;
font-weight: normal;
line-height: 1em;
white-space: nowrap;
background-color: rgba(1, 1, 1, 1);
border-radius: 50px;
padding: 12px 20px 12px 20px;
box-sizing: border-box;
color: rgba(255, 255, 255, 1);
margin: -10px 0px 0px 0px;
display: inline-block;
text-decoration: none;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
opacity: 0;
pointer-events: none;
}

.date {
box-sizing: border-box;
padding: 0px 0px 0px 0px;
color: rgba(0, 0, 0, 0.25);
font-size: 14px;
}

.date a {
box-sizing: border-box;
padding: 0px 0px 0px 0px;
color: rgba(0, 0, 0, 0.25);
font-size: 14px;
}

.archive a {
font-size: 14px;
}

.app-container {
box-sizing: border-box;
max-width: 400px;
width: 100%;
}

.form-header {
box-sizing: border-box;
max-width: 800px;
width: 100%;
padding: 0px 0px 40px 0px;
font-family: "Daft Regular", "Helvetica Neue", Arial, sans-serif;
font-size: 45px;
font-weight: normal;
line-height: 1.1em;
}

/* Mobile styles using a media query */
@media only screen and (max-width: 600px) {
.form-header {
font-size: 35px;
}
}

.form-title {
box-sizing: border-box;
max-width: 800px;
width: 100%;
padding: 0px 0px 40px 0px;
font-family: "Daft Regular", "Helvetica Neue", Arial, sans-serif;
font-size: 32px;
font-weight: normal;
line-height: 1.2em;
}

/* Mobile styles using a media query */
@media only screen and (max-width: 600px) {
.form-title {
font-size: 22px;
}
}

.button {
background-color: rgba(1, 1, 1, 0.05);
border-radius: 50px;
padding: 12px 20px 12px 20px;
box-sizing: border-box;
color: rgba(1, 1, 1, 1);
margin: 0px 30px 0px 0px;
display: inline-block;
}

.form-text {
box-sizing: border-box;
padding: 0px 0px 0px 0px;
line-height: 1.4em;
}

.form-intro {
box-sizing: border-box;
padding: 0px 0px 40px 0px;
line-height: 1.4em;
}

.form-error {
box-sizing: border-box;
padding: 20px 0px 0px 0px;
color: rgba(0, 0, 0, 0.25);
line-height: 1.4em;
}

.input-container {
display: flex;
align-items: center;
}

.input-field {
width: 100%;
background-color: transparent;
border: none;
outline: none;
-webkit-appearance: none; /* For Chrome/Safari */
-moz-appearance: none; /* For Firefox */
}

.input-field input {
padding: 20px 0px 20px 0px;
width: 100%;
background-color: transparent;
border: none;
outline: none;
-webkit-appearance: none; /* For Chrome/Safari */
-moz-appearance: none; /* For Firefox */
}

.input-field input::placeholder {
color: rgba(0, 0, 0, 0.25);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
-webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

.submit-button {
display: none;
}

#copyFeedback {
color: rgba(0, 0, 0, 0.25);
display: none;
flex: 0 0 100%; /* Set flex property to force the div to take 100% width */
}

.second {
color: rgba(0, 0, 0, 0.25);
}

.image-box {
width: 100%;
position: relative;
display: inline-block;
padding: 80px 0px 0px 0px;
}

.image-box img {
width: 100%;
display: block;
height: auto;
border-radius: 17px;
filter: grayscale(100%);
}

.overlay-link {
font-family: "Helvetica Neue", Arial, sans-serif;
font-size: 14px;
font-weight: normal;
line-height: 1em;
white-space: nowrap;
background-color: rgba(1, 1, 1, 1);
border-radius: 50px;
padding: 12px 20px 12px 20px;
box-sizing: border-box;
color: rgba(255, 255, 255, 1);
margin: 40px 0px 0px 0px;
display: inline-block;
text-decoration: none;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
opacity: 0;
pointer-events: none;
}

.image-box:hover .overlay-link {
opacity: 1;
}

.footer {
padding: 80px 0px 0px 0px;
}

.code {
background-color: rgba(0, 0, 0, 0.05);
border-radius: 50px;
padding: 2px 8px 2px 8px;
}

.profile-image-wrapper {
display: block;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.05);
width: 115px;
height: 115px;
}

.profile-image {
display: block;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.05);
filter: grayscale(100%);
width: 115px;
height: 115px;
object-fit: cover;
}

.setting-button {
border: none;
background-color: rgba(1, 1, 1, 0.05);
border-radius: 50px;
padding: 12px 20px 12px 20px;
box-sizing: border-box;
color: rgba(1, 1, 1, 1);
margin: 0px 30px 0px 0px;
display: inline-block;
cursor: pointer;
}

.setting-textfield {
width: 100%;
height: 115px;
border: 1px solid rgba(1, 1, 1, 0.05);
border-radius: 17px;
padding: 12px 20px 12px 20px;
font-size: 16px;
line-height: 1.4em;
resize: none;
margin: 20px 0px 0px 0px;
}

.setting-textfield::placeholder {
color: rgba(0, 0, 0, 0.25);
}

.setting-textfield:focus {
outline: none;
}

.setting-upload {
display: none;
}

.setting-form {
padding-bottom: 20px;
}

.custom-file-label {
display: inline-block;
padding: 12px 20px 12px 20px;
cursor: pointer;
background-color: rgba(1, 1, 1, 0.05);
color: rgba(1, 1, 1, 1);
border-radius: 50px;
margin: 0px 10px 0px 0px;
}

#preview-container {
display: none;
}

.data {
align-self: flex-start;
}

pre {
font-size: 14px;
line-height: 2em;
}
/* Mobile styles using a media query */
@media only screen and (max-width: 600px) {
pre {
font-size: 8px;
}
}
